<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<style>
    body{
        background-color: #000;
    }

    form{
        color: #fff;
        margin-top: -100px;
        margin-left: 810px;
        font-size: 15px;
        line-height: 20px;
    }
</style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <a class="navbar-brand" href="#" style="color: aliceblue;">ADA VenueBooking  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: aliceblue;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/dashboard" style="color: aliceblue;">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" style="color: aliceblue;">Contact</a>
            </li>
          </ul>
          
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="background-color: #6f42c1;"> <a href="/logout" style="color:white">Logout</a></button>
        </div>
      </nav>

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading" style="color:#fff; margin-top: 100px;">Mondini Hall</h2>
          <p class="lead" style="color:#fff"> 
            <ul style="color:#fff; font-size: larger;">
                <li>Location : 4th floor B Wing </li>
                    <li>Maximum Capacity : 500 </li>
                        <li>Available for events with many gatherings </li>
                            <li>D.J System available for the venue (Should be booked by the event booking encharge itself) </li>
                                <li>Closing time for the hall:6 pm (Time can be extended if permitted by the principal)</li>
            </ul>
            </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" style="margin-left: 100px; margin-top: 100px" width="500" height="500" src="/static/MH1.jpeg"  aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        
        </div>
      </div>  

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Book Room</button>
    </form>
</body>
</html>